<div class="container">
  <div class="filter">
    <h2>Dashboard</h2>
    <p>filtrar as tarefas por colaborador</p>
    <mat-form-field appearance="fill">
      <mat-label>Selecione um colaborador</mat-label>
      <mat-select>
        <mat-option *ngFor="let user of users" [value]="user">
          {{ user }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="overview">
    <div class="table" *ngFor="let list of tasksList">
      <h3 class="table-title">{{ list.title }}</h3>
      <p class="table-data">{{ list.task.length }}</p>
    </div>
  </div>
  <div class="graphics">
    <div class="content">
      <h3>Tarefas</h3>
      <div class="graphic">
        <app-graphic></app-graphic>
      </div>
    </div>
    <div class="content">
      <h3>média de tempo</h3>
      <div class="graphic">
        <app-graphic></app-graphic>
      </div>
    </div>
  </div>
</div>
