<div>
  <button
    mat-raised-button
    color="primary"
    class="btn-menu"
    (click)="addTask()"
  >
    + nova tarefa
  </button>
</div>
<div class="container" *ngIf="showTasks">
  <div class="task-container">
    <div class="task-title">
      <h2 class="text-title">backlog</h2>
    </div>
    <div
      cdkDropList
      #backlogList="cdkDropList"
      [cdkDropListData]="backlog"
      [cdkDropListConnectedTo]="[cancelledList, executionList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="task-card" *ngFor="let item of backlog" cdkDrag>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="card-title">
              {{ item.title }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-btn">
            <p><i>responsavel: </i> {{ item.owner }}</p>
            <button mat-button (click)="editTask(item.id)"><mat-icon class="card-icon">edit</mat-icon></button>
          </div>
          <p><i>descrição:</i> {{ item.description }}</p>
          <p><i>status:</i> {{ item.status }}</p>
          <p><i>previsão de entrega:</i> {{ item.deadline}}</p>
        </mat-expansion-panel>
      </div>
    </div>
  </div>

  <div class="task-container">
    <div class="task-title">
      <h2 class="text-title">execução</h2>
    </div>
    <div
      cdkDropList
      #executionList="cdkDropList"
      [cdkDropListData]="execution"
      [cdkDropListConnectedTo]="[backlogList, finishedList, cancelledList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="task-card" *ngFor="let item of execution" cdkDrag>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="card-title">
             {{ item.title }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-btn">
            <p><i>responsavel: </i> {{ item.owner }}</p>
            <button mat-button (click)="editTask(item.id)"><mat-icon class="card-icon">edit</mat-icon></button>
          </div>
          <p><i>descrição:</i> {{ item.description }}</p>
          <p><i>status:</i> {{ item.status }}</p>
          <p><i>iniciado em:</i> {{ item.createdAt }}</p>
          <p><i>previsão de entrega:</i> {{ item.deadline}}</p>
        </mat-expansion-panel>
      </div>
    </div>
  </div>

  <div class="task-container">
    <div class="task-title">
      <h2 class="text-title">finalizado</h2>
    </div>
    <div
      cdkDropList
      #finishedList="cdkDropList"
      [cdkDropListData]="finished"
      [cdkDropListConnectedTo]="[finishedList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="task-card" *ngFor="let item of finished" cdkDrag>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="card-title">
              {{ item.title }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p><i>responsavel: </i> {{ item.owner }}</p>
          <p><i>descrição:</i> {{ item.description }}</p>
          <p><i>status:</i> {{ item.status }}</p>
          <p><i>iniciado em:</i> {{ item.createdAt }}</p>
          <p *ngIf="item.deadline"><i>previsão de entrega:</i> {{ item.deadline}}</p>
          <p><i>finalizado em: </i>{{ item.finishedAt }}</p>
        </mat-expansion-panel>
      </div>
    </div>
  </div>

  <div class="task-container">
    <div class="task-title">
      <h2 class="text-title">excluir</h2>
    </div>
    <div
      cdkDropList
      #cancelledList="cdkDropList"
      [cdkDropListData]="cancelled"
      [cdkDropListConnectedTo]="[cancelledList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="task-card" *ngFor="let item of cancelled" cdkDrag>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="card-title">
              {{ item.title }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>responsavel: {{ item.owner }}</p>
          <p>descrição: {{ item.description }}</p>
          <p>status: {{ item.status }}</p>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>
