<div class="container" *ngIf="showDash">
  <div class="filter">
    <p>filtrar as tarefas por colaborador</p>
    <mat-form-field appearance="fill">
      <mat-label>Selecione um colaborador</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let user of users"
          [value]="user.name"
          (click)="filterByUser(user.name)"
        >
          {{ user.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="overview">
    <div class="table" *ngFor="let item of tasksList">
      <h2 class="table-title">{{ item.title }}</h2>
      <p class="table-data">{{ item.task.length }}</p>
    </div>
  </div>
  <div class="graphics">
    <div class="content" *ngIf="showGraphic">
      <h3>Tarefas</h3>
      <div class="graphic">
        <app-graphic [info]="tasksGraphic"></app-graphic>
      </div>
    </div>
    <div class="content" *ngIf="showGraphic">
      <h3>Tempo</h3>
      <div class="graphic">
        <app-graphic [info]="tasksGraphic" [type]="averageGraphic"></app-graphic>
      </div>
    </div>
  </div>
  <div class="btn">
    <button mat-raised-button color="primary">mais detalhes</button>
  </div>
</div>
