<mat-toolbar color="primary" class="toolbar">
  <div>
    <span class="header">Cadastrar novo usuário </span>
  </div>
</mat-toolbar>
<div class="container">
  <h2>informe seus dados</h2>
  <div class="form-body">
    <form [formGroup]="addUserForm">
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>nome completo</mat-label>
          <input matInput placeholder="digite seu nome completo" formControlName="name"/>
          <mat-error>usuário inválido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>data de nascimento</mat-label>
          <input matInput placeholder="DD/MM/YYYY" formControlName="birth_date"/>
          <mat-error>usuário inválido</mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>e-mail</mat-label>
          <input matInput placeholder="digite seu e-mail" formControlName="email"/>
          <mat-error>usuário inválido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>usuário</mat-label>
          <input matInput placeholder="digite o usuário para login" formControlName="user"/>
          <mat-error>usuário inválido</mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>senha</mat-label>
          <input matInput placeholder="digite a senha" type="password" />
          <mat-error>usuário inválido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>confirme a senha</mat-label>
          <input matInput placeholder="confirme a senha" type="password" formControlName="password"/>
          <mat-error>usuário inválido</mat-error>
        </mat-form-field>
      </div>
    </form>
    <div class="btn">
      <button mat-raised-button color="warn" routerLink="login">voltar</button>
      <button mat-raised-button color="primary" (click)="submit()" [disabled]="addUserForm.invalid">salvar</button>
    </div>
  </div>
</div>
