.container {
  width: 30rem;
  margin-right:auto;
  margin-left:auto;
}

.form-container {
  padding: 3rem;
}

h2 {
  text-align: center;
  padding: 10px;
}

mat-form-field {
  width: 100%;
  padding-bottom: 10px;
}

.footer {
  display:flex;
  justify-content: space-between;
  margin: 3rem;
}

.btn {
  width: 10rem;
}

